body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  display: flex;
  justify-content: center;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-form input[type="search"],
.flex-form input[type="date"],
.flex-form select,
.flex-form input[type="submit"] {
  flex: 1 1 100%;
  padding: 10px;
  margin: 5px 0;
}

.flex-form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.flex-form input[type="submit"]:hover {
  background-color: #555;
}
