* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Some default style to make each box visible */
.box {
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Colors for each box */
.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}

/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
}

.box1{
  flex: 10 5 400px;
}

.box2{
flex: 1 1 400px;
}
